{% load static %}<!DOCTYPE html>
<html>
<head>
  <title>GitHub Tagger</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  {% load bootstrap4 %}

  {{ form.media.css }}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
	<body>
		<main>
			<p id="betaWarning">Github Login Django</p>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-dark btn-lg" id="btLogout" onclick="location.href='{% url 'logout'  %}'">Logout</button>
            {% endif %}

			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<div id="avatar">
                        <a href="{% url 'home' %}">
						<img src="{% static 'img/avatar.png' %}" />
                        </a>
						{% if user.is_authenticated %}
                            <a href="mailto:matheusmirandalacerda@gmail.com?subject='Feedback about this application'">
								<button type="button" class="btn btn-danger btn-lg" style="width:100%" id="btFeedback">Send Feedback</button>
                            </a>
						{% endif %}
					</div>
					<h1 class="display-3">GitHub Tagger</h1>
					<h2>Django Social Auth</h2>
				</div>
			</div>

			{% block content %}
			{% endblock %}
		</main>
        {{ form.media.js }}
	</body>
</html>
