{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="container" style="padding-bottom: 30px">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
          <a href="{% url 'social:begin' 'github' %}" class="btn btn-primary btn-lg">Login with GitHub</a><br>
        </div>
    </div>
</div>

<div class="container" id="mainContainer">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">


      <header>
        <p>Django application that allow users to add Tags to their repositories on Github, helping them to classificate and organize more easily their projects.
        </p>
        <p>You can click on the red button to ask questions about this application, to send suggestions of improvements and to relate bugs.</p>
      </header>
      <nav class="nav-justified">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab"
            aria-controls="pop1" aria-selected="true">About this technology</a>
          <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2"
            aria-selected="true">How to collaborate</a>
          <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3"
            aria-selected="false">Contact and License</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">
           <ul>
           <li>Simple application that implements integration between Django and Github, using the python lib <a href="https://github.com/python-social-auth/social-app-django">social-auth-app-django</a> and allow users to add tags on their repositories, classifing and filtering them by categories.</li>

            <li>This project is a test app, that serve as a boilerplate for projects that use Django Social Authentication.</li>
            </ul>

            <h5><p>How to use:</p></h5>

           <ul>
            <li>Click on <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a> and permit authentication on your Github Oauth App<br></li>
            <li>Click on 'Update my Repositories' to fetch your repositories data from GitHub.</li>
            <li>Create 'tags' or add them to your repositories by clicking on button 'Edit Repository'</li>
            <li>The 'search' field can be used to filter repositories according to its 'tags'</li>
            </ul>

        </div>

        <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
            <p>All the code is located at the:  <a href="https://github.com/MatheusMiranda/django-social-auth-app"
              target="_blank">Django Social Github repository</a></p>

            <p>We'll be very happy to having your contribution :)</p>

            <p>The process is simple:</p>

            <ul>
            <li>Write a new issue describing the feature you want to work on (or look for <a href="https://github.com/MatheusMiranda/django-social-auth-app/issues">issues</a> with the labels help-wanted or good-first-issue);</li>
            <li>Write your code, tests and documentation;</li>
            <li>Open a pull request describing the changes you've made;</li>
            <li>DONE! Now you only need to wait for a review and feedback on your code.</li>

            <p>Read the Contribution Guide for more information.</p>
            </ul>
        </div>
        <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
          <div class="container">
            <p>All this project is developed and are available under LICENSE <a href="https://github.com/MatheusMiranda/django-social-auth-app/blob/master/LICENSE">GPL3</a></p>

            <p>email for contact: matheusmirandalacerda@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
