{% extends 'base.html' %}

{% block content %}
<p><h2>Hello {{ user.username }}! Here you can manage tags on your repositories!</h2></p>


<div class="container">
  <div class="col-md-6 offset-md-3">
    <div class="row">

      <form action="{% url 'get_repositories' %}" method="get">{% csrf_token %}
        <div >
          <button type="submit" class="btn btn-outline-primary btn-lg">Update my Repositories</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <form action="{% url 'home' %}" method="post">{% csrf_token %}
        <div class="form-group">
          <label for="tags">Search using tags...</label>
          <input type="text" class="form-control" name="tags" value="" id="tags">
        </div>

        <div >
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
      </form>

    </div>
  </div>
</div>

<p><h2>Your repository List:</h2></>

{% load render_table from django_tables2 %}
<!doctype html>
<html>
  <head>
    <title>List of persons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    {% render_table repositories_table %}
  </body>
</html>

{% endblock %}
