{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    
    <div class="row">
  '   <p><h1> Editing Tags for: {{ repository.name }}</h2></p>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">

          <form method="post" action="">
            {% csrf_token %}
              {{ form }}
            <input type="submit" value="Submit Form"/>
          </form>

          <form action="{% url 'login' %}" method="post">{% csrf_token %}

            <div class="form-group">
              <label for="username">E-mail</label>
              <input type="text" class="form-control" name="username" value="" id="username">
            </div>
            <div class="form-group">
              <label for="password">Senha </label>
              <input type="password" class="form-control" name="password" value="" id="password">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" name="description" value="{{ repository.description }}" id="description" readonly>
            </div>

            <div >
              <button type="submit" value="login" class="btn btn-outline-primary">Entrar</button>
            </div>

          </form>
        </div>
    </div>
</div>

{% endblock %}


